@media (max-width: 450px) {
  .wc-card {
    border: 1px solid #d2dde5;
    width: 190px; }
  .wc-adaptive-card {
    width: 198px; } }

@media (min-width: 768px) {
  .wc-card {
    border: 1px solid #d2dde5;
    width: 290px; }
  .wc-adaptive-card {
    width: 298px; } }
